body {
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.connection-feed {
    margin: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
